:root {
  --color-primary: #E7F0FF;
  --color-secondary: #303F9F;
 
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%; 
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  background-image: linear-gradient(to top, #fff 0%, #E7F0FF 100%);
  background-repeat: no-repeat;
  min-height: 100%;
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 1.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #303F9F;
  border: 3px solid #303F9F;
  border-radius: 1rem;
}

body::-webkit-scrollbar-track {
  background:#a2bbe6;
}




